In [1]:
import numpy as np
import pandas as pd
import ast
from scipy.stats import pearsonr, spearmanr
from statistics import mean, stdev
from typing import List

### Evaluation for Task 1

In [2]:
gretz_eval = pd.read_csv("task1/gretz/eval_results.csv", sep=",")
swanson_eval = pd.read_csv("task1/swanson/eval_results.csv", sep=",")
ukprank_eval = pd.read_csv("task1/ukprank/eval_results.csv", sep=",")
toledo_eval = pd.read_csv("task1/toledo/eval_results.csv", sep=",")

In [3]:
toledo_eval_agg = toledo_eval.groupby(["test_file"], as_index=False).agg(
                      {'pearson':['mean','std'], 'spearman':['mean','std']})
gretz_eval_agg = gretz_eval.groupby(["test_file"], as_index=False).agg(
                      {'pearson':['mean','std'], 'spearman':['mean','std']})
swanson_eval_agg = swanson_eval.groupby(["test_file"], as_index=False).agg(
                      {'pearson':['mean','std'], 'spearman':['mean','std']})
ukprank_eval_agg = ukprank_eval.groupby(["test_file"], as_index=False).agg(
                      {'pearson':['mean','std'], 'spearman':['mean','std']})

In [4]:
toledo_eval_agg

                              test_file   pearson            spearman  \
                                             mean       std      mean
0  test/gretz_test_no_common_topics.txt  0.355605  0.010689  0.325372
1                 test/swanson_test.txt  0.328874  0.018282  0.326629
2                  test/toledo_test.txt  0.399626  0.040046  0.383145
3                 test/ukprank_test.txt  0.504112  0.016553  0.661100


        std
0  0.011009
1  0.021130
2  0.059058
3  0.025972

In [5]:
gretz_eval_agg

                              test_file   pearson            spearman  \
                                             mean       std      mean
0  test/gretz_test_no_common_topics.txt  0.490441  0.040451  0.452176
1                 test/swanson_test.txt  0.520899  0.015442  0.532662
2                  test/toledo_test.txt  0.405762  0.055152  0.371319
3                 test/ukprank_test.txt  0.543245  0.042314  0.657114


        std
0  0.032352
1  0.014429
2  0.069453
3  0.139051

In [6]:
swanson_eval_agg

                              test_file   pearson            spearman  \
                                             mean       std      mean
0  test/gretz_test_no_common_topics.txt  0.162835  0.013926  0.129164
1                 test/swanson_test.txt  0.613879  0.005188  0.607331
2                  test/toledo_test.txt  0.252555  0.050107  0.244065
3                 test/ukprank_test.txt  0.471807  0.050491  0.673433


        std
0  0.010661
1  0.005860
2  0.053047
3  0.048046

In [7]:
ukprank_eval_agg

                              test_file   pearson            spearman  \
                                             mean       std      mean
0  test/gretz_test_no_common_topics.txt  0.237016  0.026899  0.156693
1                 test/swanson_test.txt  0.430654  0.037745  0.448086
2                  test/toledo_test.txt  0.156355  0.049900  0.176703
3                 test/ukprank_test.txt  0.560050  0.033486  0.813087


        std
0  0.027466
1  0.029510
2  0.037519
3  0.027422

### Evaluation for Task 2:

In [8]:
loo_gretz_eval = pd.read_csv("task2/loo_gretz/eval_results.csv", sep=",")
loo_swanson_eval = pd.read_csv("task2/loo_swanson/eval_results.csv", sep=",")
loo_ukprank_eval = pd.read_csv("task2/loo_ukprank/eval_results.csv", sep=",")
loo_toledo_eval = pd.read_csv("task2/loo_toledo/eval_results.csv", sep=",")

In [9]:
loo_toledo_eval_agg = loo_toledo_eval.groupby(["test_file"], as_index=False).agg(
                      {'pearson':['mean','std'], 'spearman':['mean','std']})
loo_gretz_eval_agg = loo_gretz_eval.groupby(["test_file"], as_index=False).agg(
                      {'pearson':['mean','std'], 'spearman':['mean','std']})
loo_swanson_eval_agg = loo_swanson_eval.groupby(["test_file"], as_index=False).agg(
                      {'pearson':['mean','std'], 'spearman':['mean','std']})
loo_ukprank_eval_agg = loo_ukprank_eval.groupby(["test_file"], as_index=False).agg(
                      {'pearson':['mean','std'], 'spearman':['mean','std']})

In [10]:
loo_toledo_eval_agg

                              test_file   pearson            spearman  \
                                             mean       std      mean
0  test/gretz_test_no_common_topics.txt  0.521768  0.002928  0.479052
1                 test/swanson_test.txt  0.631231  0.002607  0.624833
2                  test/toledo_test.txt  0.353789  0.007608  0.348808
3                 test/ukprank_test.txt  0.507627  0.014990  0.734642


        std
0  0.002002
1  0.001208
2  0.011154
3  0.002459

In [11]:
loo_gretz_eval_agg

                              test_file   pearson            spearman  \
                                             mean       std      mean
0  test/gretz_test_no_common_topics.txt  0.213421  0.009275  0.154685
1                 test/swanson_test.txt  0.565460  0.033337  0.555177
2                  test/toledo_test.txt  0.342237  0.032980  0.335269
3                 test/ukprank_test.txt  0.383064  0.011186  0.549041


        std
0  0.011652
1  0.037247
2  0.017364
3  0.029139

In [12]:
loo_swanson_eval_agg

                              test_file   pearson            spearman  \
                                             mean       std      mean
0  test/gretz_test_no_common_topics.txt  0.469780  0.001756  0.424756
1                 test/swanson_test.txt  0.457463  0.029629  0.463017
2                  test/toledo_test.txt  0.387890  0.030248  0.379509
3                 test/ukprank_test.txt  0.268454  0.004148  0.509250


        std
0  0.004455
1  0.018846
2  0.043748
3  0.010519

In [13]:
loo_ukprank_eval_agg

                              test_file   pearson            spearman  \
                                             mean       std      mean
0  test/gretz_test_no_common_topics.txt  0.491318  0.000963  0.439769
1                 test/swanson_test.txt  0.648445  0.006183  0.640199
2                  test/toledo_test.txt  0.422375  0.005779  0.388530
3                 test/ukprank_test.txt  0.490680  0.007595  0.683131


        std
0  0.000723
1  0.007161
2  0.004429
3  0.026814

### Evaluation for Task 3:

In [15]:
eval_task3 = pd.read_csv("task3/all/eval_results.csv", sep=",")
task3_eval_agg = eval_task3.groupby(["test_file"], as_index=False).agg(
                      {'pearson':['mean','std'], 'spearman':['mean','std']})

In [16]:
task3_eval_agg

                              test_file   pearson            spearman  \
                                             mean       std      mean
0  test/gretz_test_no_common_topics.txt  0.487788  0.002569  0.431096
1                 test/swanson_test.txt  0.638907  0.002686  0.628741
2                  test/toledo_test.txt  0.397499  0.002045  0.383502
3                 test/ukprank_test.txt  0.271300  0.012691  0.479644


        std
0  0.002577
1  0.000046
2  0.004549
3  0.022216

## Handling Inferences:

In [ ]:
data1 = pd.read_csv("infer_logits1223.csv")

In [ ]:
def average_logits(df, col_name, var_method = False):
    
  data_set_logits = []
  data_set_var_logits = []
  for i in range(len(data1)):

    dataset_logits = ast.literal_eval(data1[col_name][i])
    data_set_logits.append(dataset_logits)
  
  data_set_mean_logits = list(map(mean, zip(*data_set_logits)))
  data_set_mean_logits = list(map(
      lambda x: round(x, ndigits=6), data_set_mean_logits))

  if var_method:
    data_set_var_logits = list(map(stdev, zip(*data_set_logits)))
    data_set_var_logits = list(map(
        lambda x: round(x, ndigits=6), data_set_var_logits))
  
  return data_set_mean_logits, data_set_var_logits


def cal_eval_metrics(data1: pd.DataFrame, logits: List):

  datasets = ast.literal_eval(data1["orig_ds"][0])
  labels = ast.literal_eval(data1["labels"][0])
  labels = list(map(lambda x: round(x, ndigits=6), labels))

  assert len(datasets) == len(labels)
  assert len(logits) == len(labels)

  unlabeled_pearson = round(pearsonr(logits, labels)[0], 4)
  unlabeled_spearman = round(spearmanr(labels, logits)[0], 4)

  print("Unknown pearson:", unlabeled_pearson)
  print("Unknown spearman:", unlabeled_spearman)

  # group values by the datasets to help calculate the pearson values by dataset.
  data2 = pd.DataFrame(np.column_stack([datasets, labels, logits]), 
                       columns=["datasets", "labels", "logits"])
  
  data3 = data2.groupby(['datasets'])

  for i in list(data4.groups.keys()):
    
    print(i)
    data_gp = data3.get_group(i)
    logits = [float(i) for i in data_gp["logits"]]
    labels = [float(i) for i in data_gp["labels"]]
    pearson_value = round(pearsonr(logits, labels)[0], ndigits=4)
    spearman_value = round(spearmanr(logits, labels)[0], ndigits=4)

    print("pearson:", pearson_value)
    print("spearman:", spearman_value)

  return None

In [46]:
randomized_eval

,model_id,seed,avg_train_loss,avg_val_loss,avg_test_loss,gretz_pearson,toledo_pearson,ukp_pearson,swanson_pearson,avg_pearson
0,STLAS_only_gretz_randomized,5001,0.017910,0.029394,0.000000,0.500152,0.414854,0.244362,0.435695,0.398766
1,STLAS_only_gretz_randomized,2915,0.018232,0.031532,0.000000,0.492317,0.366659,0.305587,0.487367,0.412983
2,STLAS_only_gretz_randomized,2856,0.017464,0.029218,0.000000,0.472748,0.410067,0.222951,0.345345,0.362778
3,STLAS_only_gretz_randomized,3027,0.019517,0.030993,0.000000,0.493507,0.335600,0.330137,0.262006,0.355312
4,STLAS_only_gretz_randomized,68,0.018718,0.031879,0.000000,0.505948,0.409062,0.369275,0.310894,0.398795
5,STLAS_only_gretz_randomized,9735,0.018686,0.029655,0.000000,0.493461,0.386626,0.334894,0.347649,0.390657
6,STLAS_only_gretz_randomized,8267,0.018625,0.030189,0.000000,0.518044,0.402762,0.294338,0.267280,0.370606
7,STLAS_only_gretz_randomized,7828,0.018183,0.030474,0.000000,0.483384,0.338782,0.256054,0.248940,0.331790
8,STLAS_only_gretz_randomized,5132,0.019446,0.030905,0.000000,0.499720,0.365486,0.368780,0.339231,0.393304
9,STLAS_only_gretz_randomized,9667,0.019296,0.029931,0.000000,0.490880,0.469353,0.427734,0.346799,0.433691
10,STLAS_only_toledo_randomized,6914,0.024432,0.037950,0.000000,0.390666,0.419589,0.244197,0.168668,0.305780
11,STLAS_only_toledo_randomized,6213,0.022287,0.038476,0.000000,0.407559,0.360521,0.250948,0.384022,0.350762
12,STLAS_only_toledo_randomized,7871,0.023225,0.040516,0.000000,0.410106,0.300700,0.165075,0.399746,0.318907
13,STLAS_only_toledo_randomized,3652,0.021707,0.035680,0.000000,0.353561,0.176832,0.267795,0.353001,0.287797
14,STLAS_only_toledo_randomized,1179,0.025668,0.041166,0.000000,0.428751,0.415672,0.195749,0.378174,0.354586
15,STLAS_only_toledo_randomized,8089,0.026318,0.039387,0.000000,0.372431,0.383215,0.275263,0.189514,0.305106
16,STLAS_only_toledo_randomized,8355,0.026019,0.044655,0.000000,0.401088,0.296591,0.181598,0.333438,0.303178
17,STLAS_only_toledo_randomized,6019,0.024975,0.035920,0.000000,0.372851,0.465084,0.288664,0.369552,0.374038
18,STLAS_only_toledo_randomized,8074,0.020782,0.044192,0.000000,0.386250,0.339345,0.211775,0.375593,0.328240
19,STLAS_only_toledo_randomized,3887,0.025181,0.038308,0.000000,0.411622,0.421023,0.319378,0.284107,0.359033
20,STLAS_only_swanson_randomized,3267,0.017229,0.028761,0.000000,0.142660,0.142180,0.155900,0.417068,0.214452
21,STLAS_only_swanson_randomized,6645,0.025884,0.062315,0.000000,0.206213,0.315338,0.223789,0.635520,0.345215
22,STLAS_only_swanson_randomized,1678,0.017009,0.029277,0.000000,0.154068,0.122993,0.198220,0.423069,0.224587
23,STLAS_only_swanson_randomized,983,0.019310,0.027521,0.000000,0.172909,0.083949,0.251046,0.425434,0.233335
24,STLAS_only_swanson_randomized,2664,0.020636,0.037749,0.000000,0.188235,0.132548,0.445190,0.619177,0.346288
25,STLAS_only_swanson_randomized,7847,0.016650,0.053760,0.000000,0.201789,0.236984,0.345611,0.669701,0.363521
26,STLAS_only_swanson_randomized,2771,0.021031,0.030242,0.000000,0.157134,0.203260,0.236845,0.434234,0.257868
27,STLAS_only_swanson_randomized,9820,0.018695,0.062974,0.000000,0.045947,0.078203,0.305174,0.428851,0.214544
28,STLAS_only_swanson_randomized,7431,0.021483,0.036202,0.000000,0.120873,0.235470,0.223772,0.629416,0.302383
29,STLAS_only_swanson_randomized,1019,0.017200,0.056095,0.000000,0.174939,0.231231,0.369878,0.655797,0.357961
...,...,...,...,...,...,...,...,...,...,...
147,MTLAS_LOO_swanson_randomized,9149,0.014486,0.032018,0.000000,0.502330,0.223835,0.476341,0.000000,0.400835
148,MTLAS_LOO_toledo_randomized,9558,0.013686,0.029872,0.000000,0.478597,0.000000,0.240162,0.437738,0.385499
149,MTLAS_LOO_ukp_randomized,2298,0.017974,0.038722,0.000000,0.503372,0.395315,0.000000,0.663238,0.520642
150,MTLAS_randomized,9609,0.015517,0.034015,0.000000,0.495519,0.405805,0.264204,0.656461,0.455497
151,MTLAS_LOO_swanson_randomized,3317,0.012604,0.031394,0.000000,0.499301,0.394653,0.243959,0.000000,0.379304
152,MTLAS_LOO_toledo_randomized,7672,0.010792,0.032379,0.000000,0.492915,0.000000,0.381860,0.648397,0.507724
153,MTLAS_LOO_ukp_randomized,8711,0.016247,0.035433,0.000000,0.475059,0.281524,0.000000,0.668513,0.475032
154,MTLAS_randomized,4612,0.014624,0.031981,0.000000,0.494318,0.381937,0.269262,0.394563,0.385020
155,MTLAS_randomized,9080,0.016177,0.033964,0.000000,0.503600,0.430289,0.373440,0.385389,0.423180
156,MTLAS_randomized,1821,0.016671,0.033863,0.000000,0.506655,0.300292,0.355138,0.626947,0.447258
157,MTLAS_randomized,2728,0.012777,0.032633,0.000000,0.489090,0.311607,0.257816,0.415009,0.368381
158,MTLAS_randomized,2181,0.014832,0.032708,0.000000,0.478686,0.214313,0.334991,0.391271,0.354815
159,MTLAS_randomized,6892,0.014851,0.035658,0.000000,0.483579,0.376692,0.406988,0.658903,0.481541
160,MTLAS_randomized,7166,0.016015,0.033128,0.000000,0.464367,0.433257,0.583756,0.374383,0.463941
161,MTLAS_randomized,6828,0.030902,0.035040,0.000000,0.444989,0.415006,0.324929,0.667596,0.463130
162,MTLAS_randomized,6257,0.029565,0.033479,0.000000,0.472761,0.415055,0.375797,0.669209,0.483206
163,MTLAS_randomized,7306,0.027775,0.034841,0.000000,0.465918,0.335068,0.353205,0.679766,0.458489
164,MTLAS_randomized_mean,4414,0.028771,0.033137,0.033974,0.451063,0.321763,0.244115,0.399681,0.354156
165,MTLAS_randomized_all,7265,0.037014,0.033325,0.037709,0.408137,0.361164,-0.053206,0.318506,0.258650
166,MTLAS_randomized_all,6750,0.037598,0.031873,0.033690,0.446306,0.277208,0.310776,0.333292,0.341895
167,MTLAS_randomized_all,1827,0.013361,0.035353,0.033119,0.482368,0.288731,0.216467,0.455000,0.360641
168,MTLAS_randomized_all,8005,0.015505,0.034489,0.036612,0.506190,0.386121,0.457739,0.367492,0.429385
169,MTLAS_randomized_all,3349,0.010824,0.035390,0.036000,0.496368,0.330250,0.306946,0.368854,0.375604
170,MTLAS_randomized_all,4802,0.016498,0.031639,0.034898,0.498253,0.355513,0.326053,0.443153,0.405743
171,MTLAS_randomized_all,9718,0.014216,0.032731,0.033109,0.483896,0.295630,0.442187,0.588945,0.452664
172,MTLAS_randomized_all,4189,0.016680,0.030728,0.035145,0.494004,0.199099,0.333480,0.415249,0.360458
173,MTLAS_randomized_all,3433,0.016924,0.034387,0.031349,0.472394,0.389432,0.487841,0.594616,0.486071
174,MTLAS_randomized_all,2253,0.012378,0.031430,0.036498,0.469821,0.327209,0.465069,0.376101,0.409550
175,MTLAS_randomized_all,1611,0.013818,0.030380,0.035570,0.492658,0.412648,0.165193,0.413850,0.371087
176,MTLAS_randomized_all,4493,0.015652,0.033830,0.033476,0.484838,0.206076,0.383514,0.615622,0.422513

## Randomization Evaluation:

In [41]:
randomized_eval = pd.read_csv("Tasks/randomized_results/randomized_results.csv", sep=",")
randomized_eval1 = pd.read_csv("Tasks/randomized_results/randomized_results1.csv", sep=",")

In [47]:
randomized_eval_agg = randomized_eval.groupby(["model_id"], as_index=False).agg(
                      {'gretz_pearson':['mean','std'], 'toledo_pearson':['mean','std'], 'swanson_pearson':['mean','std'], 'ukp_pearson':['mean','std'], 'avg_test_loss':['mean']})
randomized_eval_agg1 = randomized_eval1.groupby(["model_id"], as_index=False).agg(
                      {'gretz_pearson':['mean','std'], 'toledo_pearson':['mean','std'], 'swanson_pearson':['mean','std'], 'ukp_pearson':['mean','std'], 'avg_test_loss':['mean']})

In [48]:
randomized_eval_agg

                         model_id gretz_pearson           toledo_pearson  \
                                           mean       std           mean
0      MTLAS_LOO_gretz_randomized      0.000000  0.000000       0.367182
1    MTLAS_LOO_swanson_randomized      0.497159  0.011250       0.380725
2     MTLAS_LOO_toledo_randomized      0.485949  0.017417       0.000000
3        MTLAS_LOO_ukp_randomized      0.490178  0.016361       0.342832
4                MTLAS_randomized      0.487424  0.020851       0.372744
5            MTLAS_randomized_all      0.477936  0.027132       0.319090
6           MTLAS_randomized_mean      0.451063       NaN       0.321763
7      STLAS_LOO_gretz_randomized      0.210881  0.035656       0.197788
8    STLAS_LOO_swanson_randomized      0.379929  0.042330       0.205424
9     STLAS_LOO_toledo_randomized      0.445330  0.019697       0.323793
10       STLAS_LOO_ukp_randomized      0.409440  0.027937       0.338668
11    STLAS_only_gretz_randomized      0.495016  0.012286       0.389925
12  STLAS_only_swanson_randomized      0.156477  0.046937       0.178216
13   STLAS_only_toledo_randomized      0.393489  0.022677       0.357857
14      STLAS_only_ukp_randomized      0.205173  0.025355       0.100673
15               STLAS_randomized      0.380230  0.053278       0.209081
16         STLAS_randomized_topic      0.466285  0.020333       0.335235

             swanson_pearson           ukp_pearson           avg_test_loss
         std            mean       std        mean       std          mean
0   0.081628        0.540951  0.138121    0.341069  0.079944      0.000000
1   0.084299        0.000000  0.000000    0.382120  0.106151      0.000000
2   0.000000        0.522712  0.128302    0.333088  0.063482      0.000000
3   0.060117        0.529713  0.132859    0.000000  0.000000      0.000000
4   0.060605        0.558342  0.124336    0.352738  0.082563      0.000000
5   0.068674        0.440890  0.104013    0.320172  0.154211      0.034765
6        NaN        0.399681       NaN    0.244115       NaN      0.033974
7   0.084361        0.474996  0.123398    0.201821  0.110093      0.000000
8   0.074582        0.236495  0.108670    0.144808  0.067454      0.000000
9   0.044165        0.485259  0.111912    0.334007  0.122682      0.000000
10  0.048392        0.497397  0.118495    0.282569  0.068834      0.000000
11  0.040254        0.339121  0.075654    0.315411  0.063790      0.000000
12  0.077671        0.533827  0.114838    0.275542  0.088955      0.000000
13  0.083947        0.323581  0.082829    0.240044  0.050113      0.000000
14  0.053595        0.330849  0.127983    0.361861  0.094804      0.000000
15  0.103417        0.509792  0.099083    0.235354  0.103780      0.000000
16  0.109124        0.503419  0.116160    0.248691  0.101293      0.000000

In [49]:
randomized_eval_agg1

                               model_id gretz_pearson            \
                                                 mean       std
0           MTLAS_randomized_source_all      0.489907  0.020940
1            MTLAS_randomized_topic_all      0.491594  0.013426
2     STLAS_only_gretz_randomized_topic      0.481339  0.012700
3   STLAS_only_swanson_randomized_topic      0.082425  0.062808
4    STLAS_only_toledo_randomized_topic      0.389674  0.036650
5       STLAS_only_ukp_randomized_topic      0.030831  0.030685
6      STLAS_randomized_LOO_gretz_topic      0.465420  0.031726
7    STLAS_randomized_LOO_swanson_topic      0.465837  0.020225
8     STLAS_randomized_LOO_toledo_topic      0.475487  0.021799
9        STLAS_randomized_LOO_ukp_topic      0.466423  0.024591
10              STLAS_randomized_source      0.485525  0.019507

   toledo_pearson           swanson_pearson           ukp_pearson            \
             mean       std            mean       std        mean       std
0        0.315499  0.074747        0.530607  0.140287    0.360035  0.056194
1        0.372090  0.048999        0.510998  0.107100    0.267617  0.082287
2        0.383109  0.037104        0.370344  0.107656    0.262566  0.072035
3        0.170809  0.069281        0.475213  0.120669    0.188773  0.063644
4        0.342606  0.046499        0.278305  0.102647    0.233533  0.052956
5        0.152259  0.096823        0.424849  0.141024    0.190131  0.079568
6        0.349680  0.022302        0.419706  0.116490    0.204262  0.072924
7        0.349128  0.046287        0.491063  0.142197    0.249946  0.043847
8        0.383711  0.075740        0.435901  0.121200    0.226832  0.096409
9        0.316107  0.081527        0.457900  0.117771    0.232837  0.077176
10       0.309112  0.051199        0.543114  0.091575    0.343571  0.094900

   avg_test_loss
            mean
0       0.034102
1       0.033918
2       0.043004
3       0.047210
4       0.073845
5       0.086248
6       0.036477
7       0.034533
8       0.035343
9       0.035909
10      0.033092

In [ ]:
import os, json
import pandas as pd

# this finds our json files
path_to_json = 'json/'
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]

# here I define my pandas Dataframe with the columns I want to get from the json
jsons_data = pd.DataFrame(columns=['task_name', 'mean_gretz_pearson', 'mean_toledo_pearson', 'mean_swanson_pearson',
                                   'var_gretz_pearson', 'mean_ukp_pearson', 'var_toledo_pearson',
                                   'var_swanson_pearson','var_ukp_pearson',
                                   'wt-var_gretz_pearson', 'wt-var_toledo_pearson', 'wt-var_swanson_pearson',
                                   'wt-var_ukp_pearson'])

# we need both the json and an index number so use enumerate()
for index, js in enumerate(json_files):
    with open(os.path.join(path_to_json, js)) as json_file:
        json_text = json.load(json_file)

        # here you need to know the layout of your json and each json has to have
        # the same structure (obviously not the structure I have here)
        country = json_text['features'][0]['properties']['country']
        city = json_text['features'][0]['properties']['name']
        lonlat = json_text['features'][0]['geometry']['coordinates']
        # here I push a list of data into a pandas DataFrame at row given by 'index'
        jsons_data.loc[index] = [country, city, lonlat]

# now that we have the pertinent json data in our DataFrame let's look at it
print(jsons_data)