In [1]:
import numpy as np
import pandas as pd
import ast
from scipy.stats import pearsonr, spearmanr
from statistics import mean, stdev
from typing import List

### Evaluation for Task 1

In [2]:
gretz_eval = pd.read_csv("task1/gretz/eval_results.csv", sep=",")
swanson_eval = pd.read_csv("task1/swanson/eval_results.csv", sep=",")
ukprank_eval = pd.read_csv("task1/ukprank/eval_results.csv", sep=",")
toledo_eval = pd.read_csv("task1/toledo/eval_results.csv", sep=",")

In [3]:
toledo_eval_agg = toledo_eval.groupby(["test_file"], as_index=False).agg(
                      {'pearson':['mean','std'], 'spearman':['mean','std']})
gretz_eval_agg = gretz_eval.groupby(["test_file"], as_index=False).agg(
                      {'pearson':['mean','std'], 'spearman':['mean','std']})
swanson_eval_agg = swanson_eval.groupby(["test_file"], as_index=False).agg(
                      {'pearson':['mean','std'], 'spearman':['mean','std']})
ukprank_eval_agg = ukprank_eval.groupby(["test_file"], as_index=False).agg(
                      {'pearson':['mean','std'], 'spearman':['mean','std']})

In [4]:
toledo_eval_agg

                              test_file   pearson            spearman  \
                                             mean       std      mean
0  test/gretz_test_no_common_topics.txt  0.355605  0.010689  0.325372
1                 test/swanson_test.txt  0.328874  0.018282  0.326629
2                  test/toledo_test.txt  0.399626  0.040046  0.383145
3                 test/ukprank_test.txt  0.504112  0.016553  0.661100


        std
0  0.011009
1  0.021130
2  0.059058
3  0.025972

In [5]:
gretz_eval_agg

                              test_file   pearson            spearman  \
                                             mean       std      mean
0  test/gretz_test_no_common_topics.txt  0.490441  0.040451  0.452176
1                 test/swanson_test.txt  0.520899  0.015442  0.532662
2                  test/toledo_test.txt  0.405762  0.055152  0.371319
3                 test/ukprank_test.txt  0.543245  0.042314  0.657114


        std
0  0.032352
1  0.014429
2  0.069453
3  0.139051

In [6]:
swanson_eval_agg

                              test_file   pearson            spearman  \
                                             mean       std      mean
0  test/gretz_test_no_common_topics.txt  0.162835  0.013926  0.129164
1                 test/swanson_test.txt  0.613879  0.005188  0.607331
2                  test/toledo_test.txt  0.252555  0.050107  0.244065
3                 test/ukprank_test.txt  0.471807  0.050491  0.673433


        std
0  0.010661
1  0.005860
2  0.053047
3  0.048046

In [7]:
ukprank_eval_agg

                              test_file   pearson            spearman  \
                                             mean       std      mean
0  test/gretz_test_no_common_topics.txt  0.237016  0.026899  0.156693
1                 test/swanson_test.txt  0.430654  0.037745  0.448086
2                  test/toledo_test.txt  0.156355  0.049900  0.176703
3                 test/ukprank_test.txt  0.560050  0.033486  0.813087


        std
0  0.027466
1  0.029510
2  0.037519
3  0.027422

### Evaluation for Task 2:

In [8]:
loo_gretz_eval = pd.read_csv("task2/loo_gretz/eval_results.csv", sep=",")
loo_swanson_eval = pd.read_csv("task2/loo_swanson/eval_results.csv", sep=",")
loo_ukprank_eval = pd.read_csv("task2/loo_ukprank/eval_results.csv", sep=",")
loo_toledo_eval = pd.read_csv("task2/loo_toledo/eval_results.csv", sep=",")

In [9]:
loo_toledo_eval_agg = loo_toledo_eval.groupby(["test_file"], as_index=False).agg(
                      {'pearson':['mean','std'], 'spearman':['mean','std']})
loo_gretz_eval_agg = loo_gretz_eval.groupby(["test_file"], as_index=False).agg(
                      {'pearson':['mean','std'], 'spearman':['mean','std']})
loo_swanson_eval_agg = loo_swanson_eval.groupby(["test_file"], as_index=False).agg(
                      {'pearson':['mean','std'], 'spearman':['mean','std']})
loo_ukprank_eval_agg = loo_ukprank_eval.groupby(["test_file"], as_index=False).agg(
                      {'pearson':['mean','std'], 'spearman':['mean','std']})

In [10]:
loo_toledo_eval_agg

                              test_file   pearson            spearman  \
                                             mean       std      mean
0  test/gretz_test_no_common_topics.txt  0.521768  0.002928  0.479052
1                 test/swanson_test.txt  0.631231  0.002607  0.624833
2                  test/toledo_test.txt  0.353789  0.007608  0.348808
3                 test/ukprank_test.txt  0.507627  0.014990  0.734642


        std
0  0.002002
1  0.001208
2  0.011154
3  0.002459

In [11]:
loo_gretz_eval_agg

                              test_file   pearson            spearman  \
                                             mean       std      mean
0  test/gretz_test_no_common_topics.txt  0.213421  0.009275  0.154685
1                 test/swanson_test.txt  0.565460  0.033337  0.555177
2                  test/toledo_test.txt  0.342237  0.032980  0.335269
3                 test/ukprank_test.txt  0.383064  0.011186  0.549041


        std
0  0.011652
1  0.037247
2  0.017364
3  0.029139

In [12]:
loo_swanson_eval_agg

                              test_file   pearson            spearman  \
                                             mean       std      mean
0  test/gretz_test_no_common_topics.txt  0.469780  0.001756  0.424756
1                 test/swanson_test.txt  0.457463  0.029629  0.463017
2                  test/toledo_test.txt  0.387890  0.030248  0.379509
3                 test/ukprank_test.txt  0.268454  0.004148  0.509250


        std
0  0.004455
1  0.018846
2  0.043748
3  0.010519

In [13]:
loo_ukprank_eval_agg

                              test_file   pearson            spearman  \
                                             mean       std      mean
0  test/gretz_test_no_common_topics.txt  0.491318  0.000963  0.439769
1                 test/swanson_test.txt  0.648445  0.006183  0.640199
2                  test/toledo_test.txt  0.422375  0.005779  0.388530
3                 test/ukprank_test.txt  0.490680  0.007595  0.683131


        std
0  0.000723
1  0.007161
2  0.004429
3  0.026814

### Evaluation for Task 3:

In [15]:
eval_task3 = pd.read_csv("task3/all/eval_results.csv", sep=",")
task3_eval_agg = eval_task3.groupby(["test_file"], as_index=False).agg(
                      {'pearson':['mean','std'], 'spearman':['mean','std']})

In [16]:
task3_eval_agg

                              test_file   pearson            spearman  \
                                             mean       std      mean
0  test/gretz_test_no_common_topics.txt  0.487788  0.002569  0.431096
1                 test/swanson_test.txt  0.638907  0.002686  0.628741
2                  test/toledo_test.txt  0.397499  0.002045  0.383502
3                 test/ukprank_test.txt  0.271300  0.012691  0.479644


        std
0  0.002577
1  0.000046
2  0.004549
3  0.022216

## Handling Inferences: